.page {
    height: 100%;
    width: 100%;
    
}

.container {

    will-change: contents;
    
    
    position: absolute;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards; 
    animation-delay: 1s; 
}
