.about-page {
    left: 20%;
    top: 25%;
    font-size: 3rem;
    .text-zone {
        position: relative;
        left: 10%;
        top: 20%;

    }

    h1 {
        /*font-size: 10rem;*/
        
    }
}