.home-page {
    left: 20%;
    top: 25%;
    position: absolute;
    font-size: 2rem;
  }

h2 {
  margin: 0;
  animation: fadeIn 1s 0s backwards;
}

h3 {
  margin: 0;
  animation: fadeIn 1s 1.5s backwards;
}

h4 {
  margin: 0;
  animation: fadeIn 1s 3s backwards;
}

h5 {
  margin: 0;
  font-size: 2.5rem;
  animation: fadeIn 1s 5s backwards;
}