.nav-bar {
    display: flex;
    align-items: center;
    background-color: #222222;
    color: #F0F0F0;
    height: 5%;
    width: 100%;
}

.home-link {
    display: flex;
    margin-right: auto;
}

.nav-logo {
    height: 50px;
    width: auto;
    flex: 50%;
    padding: 15%;
}

.name {
    display: inline;
    float: right;
    flex: 50%;
    text-decoration: none;
    color: #E0E0E0;

    font-size: 2rem;
    
}

nav {
    display: flex;
    
    margin-right: 2%;
    

}

.int-link {
    text-decoration: none;
    color: #E0E0E0;
    &:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }
    margin-right: 15%;
}

ul {
    list-style: none;
    margin-right: 2%;
    
}

ul > li {
    position: relative;
    display: block;
    float: left;
    &:hover svg {
        color: #2323FF;
    }
}

ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    
}